.container {
  width: 95%;
  max-width: 20rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0px 0px 1px rgb(95, 95, 95);
  background-color: rgb(245, 250, 255);
}

/*************** Form Styles  *********************/
.form {
  width: 100%;
  padding: 1rem;
}

.form__info {
  text-align: center;
}

.form__error {
  margin: .5rem 0;
  display: inline-block;
  padding: 0.2rem;
  opacity: 0;
  color: rgb(146, 29, 29);
  background-color: rgba(255, 0, 0, 0.205);
}

.error {
  opacity: 1;
}

.form__title {
  text-align: center;
  margin-top: 2rem;
}

.form__actions {
  width: 100%;
}

.form__btn {
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  background: rgba(138, 24, 138, 0.822);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.form__link {
  text-decoration: none;
  color: blue;
}

.form__link:hover {
  text-decoration: underline;
}

/*************** end of form style  *********************/
