.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  z-index: 50;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.input__wrapper {
  width: 40%;
  margin: 1rem auto;
  text-align: center;
  background-color: var(--primary-white);
  border-radius: 5px;
  padding: 0 1rem;
  box-shadow: 0 0 5px var(--primary-gray);
  transition: all 0.2s;
}

.input__wrapper:hover {
  box-shadow: var(--light-shadow-2);
}

.input {
  display: inline-block;
  width: 90%;
  border: none;
  outline: none;
  height: 2.5rem;
}

.main {
  width: 100%;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 10fr;
  justify-content: space-between;
  margin-top: 5rem;
}

.aside {
  transition: all 1s;
}

.content__main {
  padding: .5rem;
}
@media screen and (max-width: 599px) {
  .input__wrapper{
    width: 100%;
  }

  .content__main {
    padding-right: 1rem;
  }
}
@media screen and (max-width: 699px), (max-width: 799px) , (max-width: 899px), (max-width: 999px){
  .input__wrapper{
    width: 70%;
    /* margin: 1rem auto */
  }
}
