.logo__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 40px;
    height: auto;
}

.logo__text{
    color: var(--primary-dark-gray);
}

.logo__wrapper > .logo__text, .logo{
    display: block;
}

.user__auth{
    color: var(--primary-dark-gray);
    background: transparent;
    padding: .5rem 1rem;
    border-radius: 1rem;
    box-shadow: var(--light-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__greeting{
   margin-right: .5rem;
}

.user__password_change:link,
.user__password_change:visited{
    text-decoration: none;
    padding: 0 .2rem .2rem .2rem;
    margin-right: .5rem;
    border: 1px solid var(--secondary-color-yellow);
    border-radius: 100px;
    background: transparent;
    color: var(--primary-dark-gray);
    transition: all .2s;
}

.user__password_change:hover{
    background: var(--secondary-background-yellow);
    color: var(--secondary-color-yellow);
}

.logout__btn{
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: .2rem;
    border: 1px solid var(--secondary-color-yellow);
    transition: all .2s;
}

.logout__btn:hover{
    transform: scale(1.5);
    box-shadow: var(--light-shadow-2);
}

.logout__icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}