.note-list {
  position: relative;
  width: 100%;
}

.note {
  position: relative;
  max-width: 240px;
  margin: .2rem;
  outline: none;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: var(--light-shadow);
  background-color: var(--primary-white);
  overflow: hidden;
  color: var(--primary-dark-gray);
}

.error__msg{
  color: #ff5c5c;
  margin-bottom: .5rem;
}

.note__text{
  color: var(--primary-dark-gray);
}

.note__label{
  font-size: .7rem;
  display: inline-block;
  margin-top: .5rem;
  padding: .3rem;
  border-radius: 100px;
  box-shadow: var(--light-shadow);
  color: var(--secondary-color-yellow);
}

.note__actions{
  position: absolute;
  right: 0;
  bottom: -2rem;
  padding: .5rem;
  transition: bottom .2s;
}

.note__actions_btn{
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  transition: transform .2s;
}

.note__actions_btn:hover{
  transform: scale(1.5);
}

.note__actions_btn:not(:last-child){
  margin-right: .2rem;
}

.note__actions_icon{
  font-size: 1.2rem;
  color: var(--primary-dark-gray);
}

.note:hover{
  box-shadow: var(--light-shadow-2);
}

.note:hover .note__actions{
  bottom: 0;
}

.form__add_wrapper{
  background-color: var(--primary-white);
  transition: all 1s;
}

.form__update{
  align-self: baseline;
  padding: 1rem;
  width: 100%;
  max-width: 35rem;
  border-radius: 10px;
  background-color: var(--primary-white);
  transition: all 1s;
}

.input{
  display: block;
  width: 100%;
  padding: .5rem;
  border: 1px solid var(--primary-gray);
  border-radius: 10px;
  outline: none;
}

.select{
  width: auto;
}

.input:focus{
  box-shadow: inset 0 0 5px rgb(124, 124, 241);
}

.form__actions{
  margin-top: 1rem;
  border-top: 1px solid var(--primary-gray);
  padding: .5rem;
}

.form__actions_btn:not(:last-child){
  margin-right: .5rem;
}

.form__actions_btn{
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  padding: .5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  box-shadow: var(--light-shadow);
  cursor: pointer;
  transition: all .2s;
}

.form__actions_btn:hover{
  transform: scale(1.3);
  box-shadow: var(--light-shadow-2);
}

.actions__icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: var(--primary-dark-gray);
}


@media screen and (max-width: 599px) {

  .note-list{
    flex: 1 0 auto;
    margin: 0 auto;
  }

  .note{
    min-width: 100%;
  }
}

@media screen and (min-width: 600px) {

  .note-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .note{
    flex: 0 0 240px;
  }
}


/* @media screen and (max-width: 599px) {
  .form__update{
    width: 90%;
    margin: auto;
  }
} */



@media screen and (hover: none) {
  .note__actions{
    bottom: 0;
  }

  .note__actions_btn{
    transform: scale(.7);
  }
}

