.wrapper {
  padding-left: 1rem;
}

.label{
  display: block;
  background: transparent;
  margin: .7rem 0;
  padding: .5rem;
  border-radius: 100px;
  box-shadow: var(--light-shadow);
  color: var(--primary-dark-gray);
  text-decoration: none;
}

.label:hover{
  background: var(--secondary-background-yellow);
}

.active {
  color: var(--secondary-color-yellow);
  background-color: var(--secondary-background-yellow);
}

.label__icon{
  color: var(--secondary-color-yellow);
  margin-right: .5rem;
}

.form__add {
  display: flex;
  margin-top: 1rem;
}

.label__add_btn{
  position: relative;
  outline: none;
  border: none;
  width: 40px;
  height: 40px;
  margin-top: .5rem;
  background: transparent;
  box-shadow: var(--light-shadow);
  border-radius: 50%;
  transition: transform .2s;
}

.label__add_icon {
  font-size: 1.5rem;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: var(--primary-dark-gray);
  cursor: pointer;
}

.label__add_btn:hover {
  transform: scale(1.3);
  box-shadow: var(--light-shadow-2);
}

.add__label {
  width: 20rem;
  background-color: var(--primary-white);
  padding: 1rem;
  border-radius: 10px;
  transition: all 1s;
}

.input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--primary-gray);
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
}

.input:focus,
.input:focus + .btn__submit {
  box-shadow: inset var(--light-shadow);
}

.btn__submit {
  padding: 0.2rem .2rem;
  outline: none;
  border: 1px solid var(--primary-gray);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--primary-white);
  cursor: pointer;
}

.btn__submit_icon{
  font-size: 1.5rem;
  color: var(--primary-dark-gray);
  transition: all .2s;
}
.btn__submit:hover .btn__submit_icon{
  transform: scale(1.2);
}

.label__actions {
  float: right;
}

.action__btn {
  color: var(--primary-dark-gray);
  margin-left: 0.2rem;
  cursor: pointer;
  transition: transform .2s;
  font-size: .7rem;
}

.action__btn:hover {
  transform: scale(1.5);
}

.edit__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  background-color: var(--primary-white);
  border: 1px solid var(--primary-gray);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.edit__actions_btn {
  outline: none;
  border: none;
  display: inline;
  background-color: transparent;
  transition: transform .2s;
}

.edit__actions_icon {
  font-size: 2rem;
  padding: .3rem;
  color: var(--primary-dark-gray);
}

.edit__actions_btn:hover{
  transform: scale(1.2);
}

.close__btn{
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  padding: .5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  box-shadow: var(--light-shadow);
  cursor: pointer;
  transition: all .2s;
}

.close__btn:hover{
  transform: scale(1.3);
  box-shadow: var(--light-shadow-2);
}

.close__btn_icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}
