.form__group{
    width: 100%;
}

.input__label, .input__error, .form__input{
    display: block;
}

.form__group{
   margin-bottom: 2rem;
}

.input__label{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.3rem;
}

.input__error{
    display: block;
    opacity: 0;
    color: red;
}

.error{
    opacity: 1;
}

.form__input{
    width: 100%;
    padding: .7rem .5rem 0 .1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(177, 177, 177);
}

.form__input::placeholder{
    font-size: 1rem;
    text-transform: capitalize;
}
