.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.295);
  z-index: 1000;
  transition: all 1s;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  padding-top: 5rem;
  z-index: 1100;
  width: 100vw;
  min-height: 100%;
  animation: slideDown 1s forwards;
  opacity: 0;
  overflow-y: scroll;
}

@keyframes slideDown {
  from {
    margin-top: -5rem;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
